.page-nav-btn{ padding: 8px 13px;     margin: 10px; font-size: 14px;}
.logo a {cursor: pointer;}
.cust-list li{    margin-left: 0;}
.cust-box h4{float: left;     width: 100%;}
.dash-img  {height: 127px; width: 127px;}
.cust-img  { width: 40px; height: 40px;}