/* Reset */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
    display: block;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img, object, embed {
    max-width: 100%;
}

/* html {
overflow-y: scroll;
} */

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

/* tables still need cellspacing="0" in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    font-weight: normal;
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

pre {
    white-space: pre;
    /* CSS2 */
    white-space: pre-wrap;
    /* CSS 2.1 */
    white-space: pre-line;
    /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;
    /* IE */
}

input[type="radio"] {
    vertical-align: text-top;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}

.ie6 input {
    vertical-align: text-bottom;
}

select, input, textarea {
    font: 99% sans-serif;
}

table {
    font-size: inherit;
    font: 100%;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

td, td img {
    vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* standardize any monospaced elements */

pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */

.clickable, label, input[type=button], input[type=submit], input[type=file], button {
    cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */

button, input, select, textarea {
    margin: 0;
}

/* make buttons play nice in IE */

button, input[type=button] {
    width: auto;
    overflow: visible;
}

/* scale images in IE7 more attractively */

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
(commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

button:focus {
    outline: 0;
}


a:hover {
    text-decoration: none;
}

/* Reset */

.page-wrapper{
        background: url(../images/whitebg.png);
        height: 100%;
        width: 100%;
        padding: 15px 0;
        position: relative;
        margin-top:40px;
    }
    .page-filter{
        width:90%;
        margin:0 auto;
        margin-top:-35px;
    }
    .page-filter select{
        padding: 8px 15px;
        border-radius: 15px;
        background: #050708;
        color: #FFF;
        width:100%;
        font-size: 16px;
        height: 42px;
        font-weight: 400;
    }
    .page-filter select:focus{
        outline:0;
    }
    .page-filter select option{ 
        background:#FFFFFF;
        color:#13B6E2;
        border-bottom:1px solid #CCC;
        font-size:16px;
    }
    .page-element{
        margin:15px 0;
    }
    .page-element p{
        margin:20px 0;
        color:#050708;
        font-size:18px;
        font-weight:400;
    }
    .savings-box{
      	padding:15px;
       	border-radius:15px;
       	color:#FFFFFF;
        margin-bottom:10px;
    }
    .dashicon{
        width:100%;
        height:42px;
    }
    .dashvalues{
        text-align: left;
    	font-size: 18px;
    	font-weight: 700;
    }
    .dashvalues p{
        color:#FFFFFF;
        font-size: 14px;
    	font-weight: 300;
    	margin: 0;
    }
    .gradient1{
        background: rgb(86,170,47);
		background: linear-gradient(0deg, rgba(86,170,47,1) 0%, rgba(167,223,99,1) 100%);
    }
    .gradient2{
    	background: rgb(151,51,238);
		background: linear-gradient(90deg, rgba(151,51,238,1) 0%, rgba(218,34,255,1) 100%);
    }
    .gradient3{
        background: rgb(0,209,255);
		background: linear-gradient(90deg, rgba(0,209,255,1) 0%, rgba(58,123,212,1) 100%);
    }
    .page-box{
        background:#FFFFFF;
        padding:15px;
    }        
    .box-left{
        float:left;
    }
    .box-right{
        float:right;
    }
        .page-box-item{
        text-align:center;
        }
        .page-box-item span{
        color:#B3B3B3;
        font-size:12px;
        margin:10px 0;
        }
    .white-box{
        background:#FFFFFF;
        padding:15px;
        text-align:center;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        margin:20px 0;
    }
        .amount-values{
        	color:#13B6E2;
        	font-size:16px;
        font-weight:700;
        }
        .amount-item{
        color:#050708;
        font-size:14px;
        font-weight:400;
        }
        .col-xs-4, .col-sm-4, .col-md-4{
        padding-left:8px;
        padding-right:8px;
        }